
body {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
}

.octal-calculator {
    

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .calculator-title {
    color: #ecf0f1;
    font-size: 24px;
    margin-bottom: 20px;
}

  
  .octal-input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: right;
  }
  
  .octal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
  }
  
  .octal-button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ecf0f1;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .octal-button:hover {
    background-color: #2980b9;
  }
  
  .octal-button.wide {
    grid-column: span 2;
  }
  
  